<% include headers %>
<div class="container" class="btn btn-outline-info my-2 my-sm-0 mr-3 text-uppercase" style="margin-left:40%;padding-top:20%">
    <a href="/new"class="btn btn-outline-info my-2 my-sm-0 mr-3 text-uppercase">Add new Blog! 
    </a> 
  </div>

<% include footers %>