<% include headers %>

 <div class="container"style="padding-top:10%; padding-bottom:10%;">
  <div>
    <h1 style=" font-size:3rem;">Create a New Blog</h1>
    <div
      class="container"
      style="width: 30%; margin: 25px auto; padding-top: 10%;"
    >
      <form action="/Myspace" method="POST">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="Blog[title]"
            placeholder="Title"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="Blog[image]"
            placeholder="image url"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="Blog[content]"
            placeholder="Content"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block">Submit!</button>
        </div>
      </form>
      <a href="/">Go Back</a>
    </div>
  </div>
</div> 

<!-- 
<div class="card card-blog">
    <a href="blog-posts.html" class="header">
        <img src="../assets/img/header-7.jpeg" class="image-header">
    </a>
    <div class="content">
        <div class="circle-black">
            <div class="circle">
                <div class="date-wrapper">
                    <span class="month">Apr</span>
                    <span class="date">12</span>
                </div>
            </div>
        </div>
        <a href="blog-posts.html" class="card-title"><h3>We Are Here to Make Life Better</h3></a>
        <h6 class="card-category text-warning">Life Tips &amp; Tricks</h6>
        <p class="text-description text-gray">Royère doesn't make a Polar bear bed but the Polar bear couch is my favorite piece of furniture we own The Pablo pop up was almost a pop up of influence.</p>
    </div>
</div> -->


<% include footers %>
